<div class="flex items-center justify-center bg-slate-50">
    <div class="max-w-md w-full space-y-8 p-8 bg-white rounded-2xl shadow-sm border border-slate-200">
        <div>
            <h2 class="mt-6 text-center text-3xl font-black text-slate-800 tracking-tight">
                Li<span class="text-emerald-600">fey</span>
            </h2>
            <p class="mt-2 text-center text-sm text-slate-500 font-medium">
                Sign in to your account
            </p>
        </div>

        @if (successMessage()) {
        <div
            class="text-emerald-700 text-sm text-center font-bold bg-emerald-50 p-4 rounded-md border border-emerald-200 mb-6 shadow-sm">
            {{ successMessage() }}
        </div>
        }

        <form class="mt-8 space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="rounded-md flex flex-col gap-4">
                <div>
                    <label for="email-address" class="text-sm font-semibold text-slate-700">Email address</label>
                    <input id="email-address" type="email" autocomplete="email" required formControlName="email"
                        class="mt-1 appearance-none relative block w-full px-3 py-2 border border-slate-300 placeholder-slate-400 text-slate-900 rounded-md focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 focus:z-10 sm:text-sm"
                        placeholder="example@email.com">
                </div>
                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="text-sm font-semibold text-slate-700">Password</label>
                        <a routerLink="/forgot-password" class="text-xs text-emerald-600 hover:underline">
                            Forgot Password ?
                        </a>
                    </div>
                    <input id="password" type="password" autocomplete="current-password" required
                        formControlName="password"
                        class="mt-1 appearance-none relative block w-full px-3 py-2 border border-slate-300 placeholder-slate-400 text-slate-900 rounded-md focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 focus:z-10 sm:text-sm"
                        placeholder="Your password" />
                </div>
            </div>

            @if (errorMessage()) {
            <div class="text-red-500 text-sm text-center font-medium bg-red-50 p-3 rounded-md flex flex-col gap-2">
                <span>{{ errorMessage() }}</span>

                @if (isEmailNotConfirmed()) {
                <button type="button" (click)="onResendConfirmation()" [disabled]="isResending()"
                    class="text-emerald-600 underline font-bold hover:text-emerald-700 disabled:opacity-50 transition-colors">
                    {{ isResending() ? 'Sending email...' : 'Resend confirmation email.' }}
                </button>
                }
            </div>
            }

            @if (resendMessage()) {
            <div
                class="text-emerald-700 text-sm text-center font-medium bg-emerald-50 p-3 rounded-md border border-emerald-100">
                {{ resendMessage() }}
            </div>
            }

            <div>
                <button type="submit" [disabled]="loginForm.invalid || isLoading"
                    class="w-full bg-emerald-600 text-white font-mono uppercase tracking-widest text-xs px-5 py-3 rounded-lg shadow-sm hover:bg-emerald-500 transition-all duration-200 active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed">
                    {{ isLoading() ? 'Connecting...' : 'Log in' }}
                </button>
                <div class="text-center mt-4">
                    <a routerLink="/signup"
                        class="text-sm font-medium text-emerald-600 hover:text-emerald-500 transition-colors">No account
                        yet ? Sign up</a>
                </div>
            </div>
        </form>
    </div>
</div>